.cteMain{
    padding: 7px 15px;
    height: 50px;
    width: 100%;
    /* background-color: beige; */
    background-color: transparent;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-radius: 20px;
}


